
<!DOCTYPE html>
<html>
<head>
	<title>Form Registrasi</title>
</head>
<body>
	<form action="{% url 'process_registrasi' %}" method="POST" content-type="application/json">
		{% csrf_token %}
		<h1>Nama:</h1>
		<input type="text" name="nama" placeholder="Type your Name">

		<h1>NPM:</h1>
		<input type="text" name="npm" placeholder="Type your NPM">

		<h1>Email:</h1>
		<input type="text" name="email" placeholder="Type your Email">
		
		<h1>MAC Address:</h1>
		<input type="text" name="mac" placeholder="Type your MAC Address">

		<h1>Nama Mata Kuliah:</h1>
		<select multiple="true" name="mkl">
			{% for matkul in daftar_matkul %}
				<option value="{{ matkul.id }}">{{ matkul.Nama_Matkul }}</option>
			{% endfor %}
		</select>

		<h1>Password:</h1>
		<input type="text" name="pwd" placeholder="Type your Password">

		<input type="submit" name="submit">
	</form>
</body>
</html>