{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" initial-scale="1.0">
	<title>Konfirmasi Absen</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="container">
		<form action="{% url 'process_konfirmasi_password' %}" method="POST" class="custom-form">
		{% csrf_token %}
		<div class="form-group">
			<label>Type your password</label>
			<input type="password" class="form-control" name="password" placeholder="Type your password">
		</div>
		<input type="hidden" name="random_text" value="{{ random_text }}">
		<input type="submit" name="submit" class="btn btn-success">
	</form>
	</div>
</body>
</html>